@page
@model Message_Board.Pages.MessageBoard.AddMessageModel
@{
    ViewData["Title"] = "AddMessage";
}

<h1>AddMessage</h1>
@if (Model.Msg != null)
{
    <div class="alert alert-success">@Model.Msg</div>
}
    <form method="post">
        <div class="form-group">
            <label>Write a Message</label>
            <textarea class="form-control" name="Content"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-page=".\Timeline" class="btn btn-info">Back to Timeline</a>
    </form>


